<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item"> <a class="nav-link active" aria-current="page" href="#">Accueil</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Nos clubs </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="http://imaginecup.isenengineering.fr/" target="_blank">Imagine cup</a></li>

            <li><a class="dropdown-item" href="https://makers.isenengineering.fr/" target="_blank">ISEN Makers</a></li>

            <li><a class="dropdown-item" href="https://startup.isenengineering.fr/" target="_blank">ISEN Startup</a></li>

            <li><a class="dropdown-item" href="https://opensource.isenengineering.fr/" target="_blank">ISEN Opensource</a></li>

            <li><a class="dropdown-item" href="https://opensource.isenengineering.fr/fablab/" target="_blank">Fablab</a></li>

            <li><a class="dropdown-item" href="https://dev.isenengineering.fr/" target="_blank">ISEN Dev'</a></li>

            <li><a class="dropdown-item" href="https://robotique.isenengineering.fr/" target="_blank">Pôle robotique</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" href="#">Nos partenaires</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Notre histoire</a> </li>
        <li class="nav-item"><a class="nav-link" href="#">A propos</a> </li>
      </ul>
    </div>
  </div>
</nav>
