<section class="features-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="col-md-4 feature-1 wp2">
          <div>
            <fa-icon class=" fa-border" style="--fa-border-color: blue;--fa-border-radius: 100%;" [icon]="faDesktop"></fa-icon>
          </div>
          <div class="feature-content">
            <h2>Digital</h2>
            <p>L’ISEN Engineering se distingue de nombreuses autres associations de par le fait qu’elle allie technique et communication.</p>
            <!--<a href="#" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>-->
          </div>
        </div>
        <div class="col-md-4 feature-2 wp2 delay-05s">
          <div class="feature-icon">
            <i class="fa fa-flash"></i>
          </div>
          <div class="feature-content">
            <h2>Formation</h2>
            <p>Des formateurs sont chargés d’enseigner afin de très vite basculer vers la réalisation de projets concrets et ambitieux.</p>
            <!--<a href="#" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>-->
          </div>
        </div>
        <div class="col-md-4 feature-3 wp2 delay-1s">
          <div class="feature-icon">
            <i class="fa fa-heart"></i>
          </div>
          <div class="feature-content">
            <h2>Communauté</h2>
            <p>Forte de ses nombreux membres, l'ISEN Engineering s’affirme comme l’une des plus grande communauté de l’ISEN.</p>
            <!--<a href="#" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>-->
          </div>
        </div>

      </div>
    </div>
  </div>
</section>



<section class="video" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Qui sommes-nous ?</h1>
        <p>L’ISEN Engineering est une association regroupant des élèves
          ingénieurs de l’ISEN Toulon. Forte de ses nombreux membres, elle
          s’affirme comme l’une des plus grandes associations de l’École.
          Ses membres se partagent ainsi entre sa gestion et les différents
          projets techniques qui en font son essence. L’ISEN Engineering
          comporte plusieurs pôles : l’ISEN Dev, la Microsoft Imagine Cup,
          l'ISEN makers, le pôle robotique, l'ISEN Opensource et le pôle startup.
        </p>



            <blockquote class="team-quote">
              <p> Le mot du président <br /> "L'ISEN Engineering est un regroupement d'étudiants motivés et créatifs, je suis fier de pouvoir les accompagner"  <br />Pierre-Frédérick DENYS
                </p>
            </blockquote>
      </div>

    </div>
  </div>

</section>

