
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Qui sommes-nous ?</h1>
        <p>L’ISEN Engineering est une association regroupant des élèves
          ingénieurs de l’ISEN Toulon. Forte de ses nombreux membres, elle
          s’affirme comme l’une des plus grandes associations de l’École.
          Ses membres se partagent ainsi entre sa gestion et les différents
          projets techniques qui en font son essence. L’ISEN Engineering
          comporte plusieurs pôles : l’ISEN Dev, la Microsoft Imagine Cup,
          l'ISEN makers, le pôle robotique, l'ISEN Opensource et le pôle startup.
        </p>


      </div>

    </div>



